<p><strong>Parabéns!</strong></p>
<p>É com grande satisfação que informamos que seu cadastro foi aceito na Carvalho Guinchos.</p>
<p>Agora você faz parte da nossa equipe, e estamos ansiosos para trabalharmos juntos.</p>
<p><small>Observação: Estamos disponíveis para qualquer dúvida ou assistência que você possa precisar. Bem-vindo!</small></p>
