<p><strong>Olá [Nome]!</strong></p>
<p>É com grande satisfação que damos as boas-vindas ao Carvalho Gestão. Você foi oficialmente cadastrado no nosso sistema. Utilize a senha provisória abaixo para acessar a plataforma:</p>
<h1>{{ password }}</h1>
<p>Agradecemos por se juntar a nós e estamos ansiosos para colaborar juntos para o sucesso do Grupo Carvalho Gestão. Em caso de dúvidas ou necessidade de suporte, não hesite em entrar em contato.</p>
<p>Seja bem-vindo!</p>