<p><strong>Olá!</strong></p>
<p>Ficamos felizes em saber que deseja fazer parte da Carvalho Guinchos.</p>
<p>Mas, primeiramente, precisamos confirmar e validar as suas informações para finalizar o seu cadastro.</p>
<p><small>Observação: A Análise dura em média de 2 dias uteis!</small></p>
